<!-- <nav class="navbar bg-dark">
    <div class="cointainer-fluid">
        <a class="navbar-brand" style="color: white;">&nbsp;E-commerce Website</a>
     <button routerLink="/" class="btn btn-warning text-dark ml-auto">BACK</button>
    </div>
</nav> -->
<!--single product display -->
<div class="container">
    <div class="row product-detail">
        <div class="col-sm-3">
            <img class="product-img" src="{{productdata.images[0]}}">
         <div>
            <button class="btn btn-primary">&nbsp;Buy Now</button>&nbsp;
            <button (click)="addToCart(productdata)" *ngIf="showAdd" class="btn btn-success">Add To Cart</button>
            <button (click)="removeItem(productdata)" *ngIf="showRemove" class="btn btn-info">Remove item</button>

        </div>
        </div>
    
    <!-- right side-->
    <div class="col-sm-8">
        <div>
        <h1>{{productdata.title}}</h1>
        <p style="color: rgb(23, 25, 61);">special price </p>
        <h1>Price:${{productdata.price}}</h1>
        <strong>category:&nbsp;{{productdata.category}}</strong><br>
        <strong>Description:&nbsp;</strong>
        <p>{{productdata.description}}</p>
        <p style="color:green">Discount:12%</p> <br>
        <strong>Stocks:{{productdata.stock}}units left</strong> 
    </div>
    </div>
</div>
</div>
